# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Env
.env
.env.*
!.env.example

# Logs / debug
logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
.idea

# Vercel
.vercel
